* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
}

:root {

    /* Color */

    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--very-dark-blue-main-BG);
}

.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: var(--very-dark-blue-card-BG);
    border-radius: 10px;
}

.card-image {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.4s;
}

.card-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.card-image .view {
    width: 100%;
    height: 100%;
    background: var(--cyan);
    position: absolute;
    top: 0;
    border-radius: 10px;
    opacity: 0;
    transition: 0.4s;
}

.card-image .view-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    display: none;
    transition: 0.4s;
}

.card-image:hover .view {
    opacity: 0.5;
}

.card-image:hover .view-icon {
    display: block;
}


.card-text {
    margin-top: 15px;
}

.card-text h3 {
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}


.card-text h3:hover {
    color: var(--cyan);
}

.card-text p {
    color: var(--soft-blue);
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

.card-price-clock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--very-dark-blue-line);
}

.card-price {
    display: flex;
    float: left;
}

.card-clock {
    display: flex;
}

.card-price img {
    width: 10px;
    margin-right: 5px;
}

.card-price p {
    font-size: 12px;
    font-weight: 400;
    color: var(--cyan);
}

.card-clock img {
    width: 12px;
    margin-right: 5px;
}

.card-clock p {
    font-size: 12px;
    font-weight: 600;
    color: var(--soft-blue);
}

.card-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.avatar-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid var(--white);
    margin-right: 15px;
}

.avatar-image img {
    width: 100%;
}

.card-avatar p {
    color: var(--soft-blue);
    font-size: 14px;
    font-weight: 400;
}

.card-avatar span {
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.card-avatar span:hover {
    color: var(--cyan);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}
